{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2>Registrarse</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.label.name}}">{{form.username.label}}</label>
                    <input class="form-control" type="text" name="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.label.name}}">{{form.first_name.label}}</label>
                    <input class="form-control" type="text" name="first_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.label.name}}">{{form.last_name.label}}</label>
                    <input class="form-control" type="text" name="last_name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.label.name}}">{{form.email.label}}</label>
                    <input class="form-control" type="email" name="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.label.name}}">{{form.password1.label}}</label>
                    <input class="form-control" type="password" name="password1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.label.name}}">{{form.password2.label}}</label>
                    <input class="form-control" type="password" name="password2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
